/* reset.css */
body, div, ul, ol, li, dl, dt, dd, input, button, a,p, img, h1, h2, h3, h4, h5, h6, form,pre{margin: 0;}
ul, ol, li, dl, dt, dd, input, button{padding: 0;}
html{font-size: 20px;-webkit-tap-highlight-color: transparent;}
html,body{height:100%;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body{ font-family: "PingFang SC", "Noto Sans CJK SC", "San Francisco", "Microsoft YaHei", Arial, Roboto, sans-serif;font-size: .7rem;text-align: center;}
ul,li{list-style: none;}
a{text-decoration: none;}
img{border: 0;}
button{background-color: transparent;cursor: pointer;}
textarea{resize: none;}
input,button,textarea{border: 0;outline: none; font-size:12px; font-family: "PingFang SC", "Noto Sans CJK SC", "San Francisco", "Microsoft YaHei", Arial, Roboto, sans-serif;}