.clearFix{
    *zoom: 1;
}
.clearFix:before, .clearFix:after {
    content: " ";
    display: table;
}
.clearFix:after {
    clear: both;
}
.fullScreenOverlay{
    position:fixed;
    top: 0;right: 0;left: 0;bottom: 0;
    background:rgba(0,0,0,0.8);
}